version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: varun
    ports:
      - "27017:27017" 
    volumes:
      - ./src/mongo_data:/data/db


volumes: {}


