.sidebar {
    width: 260px;
    font-size: 14px;
    height: 91vh;
    background-color: var(--body-background-color);
    padding: 16px 0px;
    box-sizing: border-box;
    position: relative;
}


.sidebar .activeIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px;
    margin-right: 10px;
    border-radius: 0 20px 20px 0;
    color: #333;
    cursor: pointer;
    background-color:#D3E3FD;
}

.compose {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 130px;
    gap: 8px;
    background-color: #cce8ff;
    border-radius: 12px;
    padding: 12px 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.compose:hover {
    background-color: #b7ddff;
}

.menuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 15px;
    margin-right: 10px;
    border-radius: 0 20px 20px 0;
    color: #333;
    cursor: pointer;
}

.iconAndName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menuItem span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menuItem:hover {
    background-color: #e9eef7;
}

.active {
    background-color: #dbe9ff;
    font-weight: bold;
}

.active .count {
    background-color: #dbe9ff;
    font-weight: bold;
}

.count {

    color: #333;
}

.labels {
    margin-top: 20px;
    padding: 0 14px;

    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upgrade {
    position: absolute;
    bottom: 20px;
    left: 16px;
    width: calc(205px - 32px);
    background-color: #fff;
    border-radius: 24px;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.upgrade:hover {
    background-color: #f0f0f0;
}