.CenterItemsContainer {
    display: flex;
    width: 100vw;
    height: 100%;
}

.OutletWrapper {
    transition: width 200ms ease;
    background: #f9f9f9;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
    width: 100%;
    height: 92vh;
    overflow: hidden;
    transition: width 200ms;
}

.barToogler {
    position: fixed;
    display: flex;
    bottom: 10px;

    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    background: #f1f3f4;
    transition: transform 400ms ease, border-radius 400ms ease;
}

.activeToogler {
    right: 10px;
    border-radius: 50%;

    transform: rotate(0deg);
}

/* Collapsed state */
.hiddenToogler {
    transform: rotate(180deg);
    border-top-right-radius: 20px;
    right: 0px;
    border-bottom-right-radius: 20px;
}

.barToogler img {
    width: 20px;
}

.barToogler:hover {
    background-color: #cacaca;
}