.snackbar {
  position: absolute;
  bottom: 20px;
  z-index: 100;
  left: 50px;
  background: #2a2a2a;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  transition: all 0.3s ease;
}



.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actions button {
  background: transparent;
  color: #5e9aff;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.close {
  background: transparent;
  border: none;
  color: #bbb;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}