.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 650px;
  height: 600px;
  padding: 20px;
  z-index: 101;
  background-color: #fff;
  height: auto;
  overflow: hidden;
}


/* EACH FILE PREVIEW */

.previewImage {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: contain;
}

.previewMedia {
  width: 100%;
  max-height: 80vh;
  border-radius: 8px;
}

.docxContent {
  overflow-y: auto;
  height: 700px;
  white-space: pre-wrap;
  font-family: monospace;
}

.textContent {
  height: 600px;
  overflow : auto;
  font-family: monospace;
  white-space: pre-wrap;
  width: 600px;
}

.noPreview {
  text-align: center;
  padding: 20px;
}


.previewPdf {
  object-fit: cover;
  height: 700px;
  width: 600px;
}