.container {
    position: absolute;
  display: flex;
  gap: 20px;
  left : 150px;
  top : -220px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 20px);
  gap: 4px;
}

.colorCell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}

.colorCell:hover {
  border: 1px solid #000;
}

.active {
  border: 2px solid #000;
}

.check {
  color: #000;
  font-size: 12px;
  position: absolute;
  top: 2px;
  left: 4px;
}
